<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulaire Client</title>
</head>
<body>

<h2>Formulaire Client</h2>

<form th:action="@{/customer/saveCustomer}" th:object="${customer}" method="post">
    <!-- Ajoutez les champs du formulaire selon les propriétés de votre entité Customer -->
    <label>Nom: <input type="text" th:field="*{name}" /></label><br/>
    <label>Email: <input type="text" th:field="*{email}" /></label><br/>
    <!-- Ajoutez d'autres champs du formulaire selon les propriétés de votre entité Customer -->
    <input type="submit" value="Enregistrer"/>
</form>

</body>
</html>
