<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Clients</title>
</head>
<body>

<h2>Liste des Clients</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Email</th>

    </tr>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.email}"></td>
        <td>
            <a th:href="@{/customer/updateForm(customerId=${c.id})}" class="btn btn-primary">Update</a>
            <a th:href="@{/customer/delete(customerId=${c.id})}" class="btn btn-danger">Delete</a>
        </td>

    </tr>
</table>

</body>
</html>
